@charset "utf-8";

body {
	font-family: "微軟正黑體", Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;;
	width: 100%;
	
}

h1, h3{
    line-height: 0.6;
}

#firstArea{
	background:url(../img/background/0.jpg) 0 no-repeat fixed;
	background-position: 0% 0%;
	background-size: 100%;
	color: black;
	height: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.firstAreaWhiteImage{
	float: right;
	margin: 0;
	width: 100%;
	height: 770px;
	z-index: -1;
}

.firstAreaText{
    float: right;
    width: 100%;
    margin-top: -200px;
    text-align: left;
}

#secondArea{
	background:url(../img/background/2.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: white;
	height: 1022px;
	margin: 0 auto;
	padding: 0;
}

.tech {
	width:22%;
	padding-top: 300px;
	padding-bottom: 150px;
	text-align: center;
	border-left: 6px solid #FAFAFA;
	border-right: 3px solid #FFF;
}
.market {
	width:23%;
	padding-top: 150px;
	padding-bottom: 200px;
	text-align: center;
	border-left: 3px solid #FFF;
	border-right: 3px solid #FFF;
}
.art {
	width:22%;
	padding-top: 0px;
	padding-bottom: 250px;
	text-align: center;
	border-left: 3px solid #FFF;
	border-right: 6px solid #FFF;
}
.title {
	color: #48C1D5;
	font-size: 50px;
	font-weight: 100;
}

#thirdArea{
	background:url(../img/background/3.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: black;
	width: 100%;
	height: 870px;
	margin: 0 auto;
	padding: 0;
}

#fourthArea{
	background:url(../img/background/4.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: white;
	width: 100%;
	height: 1651px;
	margin: 0 auto;
	padding: 0;
}

#fifthArea{
	background:url(../img/background/5.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: black;
	width: 100%;
	height: 270px;
	margin: 0 auto;
	padding: 0;
}

#sixthArea{
	background:url(../img/background/6.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: black;
	width: 100%;
	height: 1651px;
	margin: 0 auto;
	padding: 0;
}

#seventhArea{
	background:url(../img/background/7.png) no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
	color: black;
	width: 100%;
	height: 770px;
	margin: 0 auto;
	padding: 0;
}

.scrollToTop{
	width: 40px; 
	height: 40px;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 30px;
	display: none;
	background: url('../img/icon/up-arrow.png') no-repeat;
	background-position: 0% 0%;
	background-size: 100% 100%;
}
.scrollToTop:hover{
	text-decoration:none;
}


/* line區 css */
.line{
	width: 100%; 
	height: 0; 
	margin-left: -15px;
	border-left: 10px solid #48C1D5;
}

.line-right-text{
	padding-left: 10px; 
	width: 100%;
}

.line-top-text{
	margin-left: -15px;
}

.line-bottom-text{
	margin-left: -40px;
}